<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About us</title>
  <link rel="stylesheet" href="../static/css/about_us.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="icon" href="" type="image/gif">
</head>
<body>
  <!-- -----------------------------------------------company---------------------------------------------------------------- -->
  <div class="company">
    <div class="img">
      <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
    </div>
    <div class="company-info">
      <span>Bank <span class="our">FOR EVERYONE</span></span>
      <p>
        <b>Welcome to Team Pioneers</b> project website, where we're reimagining banking and finance for the modern era. Established with a mission to innovate and empower, our team is dedicated to providing cutting-edge financial solutions tailored to your needs. As pioneers in the industry, we're committed to shaping the future of banking through technology and customer-centric approaches. Join us on this journey as we revolutionize the way you bank and manage your finances.
      </p>
    </div>
  </div>
  <!-- ---------------------------------------------------------------------------------------------------------------------- -->
  <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
  <div class="team"><span>OUR TEAM</span></div>
  <div class="container">
    <div class="card">
      <div class="card-image loading"><img src="../static/images/sheik_pic.jpeg" alt="sheik photo" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span class="yellow-surname">Sheik Mohammed Ali M</span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Student</span> <br>
            Pursuing CSE Engineering (ACE Hosur) <br>
            Email: <a href="mailto:mdali.sheik1613@gmail.com">mdali.sheik1613@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="https://www.linkedin.com/in/sheikmdali/" class="loading" target="on_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="/ourservices" class="loading"><img src="../static/images/pionner_logo.jpg" alt="pioneer"></a>
          <a href="https://www.instagram.com/1.shaikh_official/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img src="../static/images/rakshith_pic.jpeg" alt="rakshith pic" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span class="yellow-surname">Rakshith Rao S V</span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Student</span> <br>
            Pursuing CSE Engineering (ACE Hosur) <br>
            Email: <a href="mailto:raosvrakshith2004@gmail.com">raosvrakshith2004@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="https://www.linkedin.com/in/rakshith-rao-s-v-981175259/" class="loading" target="on_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="/ourservices" class="loading"><img src="../static/images/pionner_logo.jpg" alt="Pioneer"></a>
          <a href="https://www.instagram.com/raxiith/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img src="../static/images/suresh_pic.jpeg" alt="suresh photo" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span class="yellow-surname">Suresh Kumar S</span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Student</span> <br>
            Pursuing CSE Engineering (ACE Hosur) <br>
            Email: <a href="mailto:ssurshkumar11@gmail.com">ssurshkumar11@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="https://www.linkedin.com/in/sureshkumar-s-512486259/" class="loading" target="on_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="/ourservices" class="loading"><img src="../static/images/pionner_logo.jpg" alt="Pioneer"></a>
          <a href="https://www.instagram.com/suresh_kumar6429/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img src="../static/images/thiru_pic.jpeg" alt="Thiru photo" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span class="yellow-surname">Thirunavukarasan Y</span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Student</span> <br>
            Pursuing CSE Engineering (ACE Hosur)  <br>
            Email: <a href="mailto:thiruysth8@gmail.com">thiruysth8@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="#" class="loading" target="on_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="/ourservices" class="loading" ><img src="../static/images/pionner_logo.jpg" alt="Pioneer"></a>
          <a href="https://www.instagram.com/_thiru_ys/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image loading"><img src="../static/images/san_pic.jpeg" alt="" /></div>
      <div class="card-info">
        <h3 class="card-title loading"><span class="yellow-surname">San S</span></h3>
        <p class="card-description loading">
          <span class="personal-info">
            <span class="info">Student</span> <br>
            Pursuing CSE Engineering (ACE Hosur) <br>
            Email: <a href="mailto:sansnext08@gmail.com">sansnext08@gmail.com</a>
          </span>
        </p>
        <div class="card-mediaIcons">
          <a href="https://www.linkedin.com/in/san-s-2a175a259/" class="loading" target="on_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="/ourservices" class="loading"><img src="../static/images/pionner_logo.jpg" alt="Pioneer"></a>
          <a href="https://www.instagram.com/san_knoes/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <!-- Repeat for other team members -->
  </div>
  <!-- ----------------------------------------footer------------------------------------------ -->
  <footer>
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <span class="logo_name">Pioneer Bank</span>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Links</li>
          <li><a href="/dashboard">Home</a></li>
          <li><a href="https://www.americanbanker.com" target="_blank">Blogs & news</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
        <!-- Other link boxes -->
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2024 <a href="#">Team Pioneers</a></span>
      </div>
    </div>
  </footer>
  <!-- ---------------------------------------------------------------------------------------- -->
  <!-- -------------------------------------------------------------------------------------------- -->
  <script>
    const cardImages = document.querySelectorAll(".card-image");
    const cardTitles = document.querySelectorAll(".card-title");
    const cardDescriptions = document.querySelectorAll(".card-description");
    const cardMediaIcons = document.querySelectorAll(".card-mediaIcons a");
    const cardImgs = document.querySelectorAll(".card-image img");
    const cardTitleSpans = document.querySelectorAll(".card-title span");
    const cardDescSpans = document.querySelectorAll(".card-description span");
    const mediaIcons = document.querySelectorAll(".card-mediaIcons a i");

    const renderCard = () => {
      //Remove the skeleton loading effect
      cardImages.forEach((cardImage) => {
        cardImage.classList.remove("loading");
      });
      cardTitles.forEach((cardTitle) => {
        cardTitle.classList.remove("loading");
      });
      cardDescriptions.forEach((cardDescription) => {
        cardDescription.classList.remove("loading");
      });
      cardMediaIcons.forEach((cardMediaIcon) => {
        cardMediaIcon.classList.remove("loading");
      });

      //Show the hidden html elements
      cardImgs.forEach((cardImg) => {
        cardImg.style.visibility = "visible";
      });
      cardTitleSpans.forEach((cardTitleSpan) => {
        cardTitleSpan.style.visibility = "visible";
      });
      cardDescSpans.forEach((cardDescSpan) => {
        cardDescSpan.style.visibility = "visible";
      });
      mediaIcons.forEach((mediaIcon) => {
        mediaIcon.style.visibility = "visible";
      });
    }

    //Execute renderCard on setTimeout
    setTimeout(() => {
      renderCard();
    }, 1000);

    //Execute renderCard after the page loaded
    //window.addEventListener("load", () => {
      //renderCard();
    //});
  </script>
</body>
</html>
