<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" href="../static/css/contact.css">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="content">
    <div class="left-side">
      <div class="address details">
        <i class="fas fa-map-marker-alt"></i>
        <div class="topic">Address</div>
        <div class="text-one">Adhiyamaan College of Engineering</div>
        <div class="text-two">Hosur</div>
      </div>
      <div class="phone details">
        <i class="fas fa-phone-alt"></i>
        <div class="topic">Phone</div>
        <div class="text-one">+0098 9893 5647</div>
        <div class="text-two">+0096 3434 5678</div>
      </div>
      <div class="email details">
        <i class="fas fa-envelope"></i>
        <div class="topic">Email</div>
        <div class="text-one">shaikh1613@gmail.com</div>
        <div class="text-two">info.pioneerbank@gmail.com</div>
      </div>
    </div>
    <div class="right-side">
      {% if thank_you %}
      <div class="topic-text">Thank you for contacting us!</div>
      <br>
      <p>We have received your message and will get back to you as soon as possible.</p>
      <div class="button">
        <a href="/dashboard">Back to Dashboard</a>
      </div>
      {% else %}
      <div class="topic-text">Send us a message!</div>
      <br>
      <p>If you have any inquiries regarding our banking and finance services or need assistance with any financial matters, feel free to reach out to us here. We're dedicated to providing you with the support and guidance you need for your financial well-being.</p>
      <form action="/contact" method="POST">
        <div class="input-box">
          <input type="text" placeholder="Enter your name" name="name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email" name="email">
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Enter your message" name="message"></textarea>
        </div>
        <div class="button">
          <input type="submit" value="Send Now">
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>
