/* loan-application.css */

:root {
    --c-gray-900: #000000;
    --c-gray-800: #1f1f1f;
    --c-gray-700: #2e2e2e;
    --c-gray-600: #313131;
    --c-gray-500: #969593;
    --c-gray-400: #a6a6a6;
    --c-gray-300: #bdbbb7;
    --c-gray-200: #f1f1f1;
    --c-gray-100: #ffffff;
    --c-green-500: #45ffbc;
    --c-olive-500: #e3ffa8;
    --c-white: var(--c-gray-100);
    --c-text-primary: var(--c-gray-100);
    --c-text-secondary: var(--c-gray-200);
    --c-text-tertiary: var(--c-gray-500);
}

body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: var(--c-gray-900);
    color: var(--c-text-primary);
    display: flex;
    padding-top: 3vw;
    padding-bottom: 3vw;
    justify-content: center;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button,
select,
input,
textarea {
    font: inherit;
}

a {
    color: inherit;
}

.loan-application-body {
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff; /* White background */
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333; /* Dark text color */
}

.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4; /* Primary color */
}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff; /* White background */
    overflow: hidden;
}

.container form .form {
    position: absolute;
    background-color: #fff; /* White background */
    transition: 0.3s ease;
}

.container form .form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333; /* Dark text color */
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e; /* Dark text color */
}

.input-field input,
.input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333; /* Dark text color */
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input:focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070; /* Light text color */
}

.input-field input[type="date"]:valid {
    color: #333; /* Dark text color */
}

.container form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff; /* White text color */
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4; /* Primary color */
    transition: all 0.3s linear;
    cursor: pointer;
}

.container form .btnText {
    font-size: 14px;
    font-weight: 400;
}

form button:hover {
    background-color: #0e44db; /* Darker primary color on hover */
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

form .backBtn i {
    transform: rotate(180deg);
}

form .buttons {
    display: flex;
    align-items: center;
}

form .buttons button,
.backBtn {
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form {
        overflow-y: scroll;
    }

    .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}

.fields input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px; /* Adjust the margin as needed */
    vertical-align: middle;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px; /* Adjust as needed */
}

.transaction-pin-field {
    display: flex;
    align-items: center;
}

.transaction-pin-field input[type="password"] {
    flex: 1; /* Takes up remaining space */
}

/* Hover effect for input fields */
.input-field input[type="text"]:hover,
.input-field input[type="password"]:hover,
.input-field input[type="tel"]:hover,
.input-field input[type="date"]:hover,
.input-field select:hover,
.input-field input[type="file"]:hover {
    box-shadow: 0 0 5px rgba(3, 27, 243, 0.973); /* Red shadow on hover */
}

/* Red shadow on hover for buttons */
.container form button:hover,
.backBtn:hover {
    box-shadow: 0 0 5px rgba(25, 228, 7, 0.5); /* Red shadow on hover */
}

.dashboard-button {
    display: inline-block;
    background-color: #041d61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-color:10px solid #020e30;
}

.dashboard-button:hover {
    background-color: #25459e;
    text-decoration: none;
}

/* Black color for terms-text */
.terms-text {
    color: #201b1b;
}
